.ionide/symbolCache.db
Play.Catalog.Service/.ionide/symbolCache.db
Play.Catalog.Service/.vs/Play.Catalog.Service/config/applicationhost.config
Play.Catalog.Service/.vs/Play.Catalog.Service/DesignTimeBuild/.dtbcache.v2
Play.Catalog.Service/.vs/Play.Catalog.Service/v17/.futdcache.v1
Play.Catalog.Service/.vs/Play.Catalog.Service/v17/.suo
Play.Catalog.Service/obj/Debug/net5.0/Play.Catalog.Service.assets.cache.BASE.cache
Play.Catalog.Service/obj/Debug/net5.0/Play.Catalog.Service.assets.cache.LOCAL.cache
Play.Catalog.Service/obj/Debug/net5.0/Play.Catalog.Service.assets.cache.REMOTE.cache
Play.Catalog.Service/obj/Debug/net5.0/Play.Catalog.Service.csproj.BuildWithSkipAnalyzers
Play.Catalog.Service/obj/Debug/net5.0/refint/Play.Catalog.Service.dll
